<div class="row">
  <form action="" style="width:100%;" [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="col">
      <h1>Login Form</h1>

          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>
      <!-- personal info -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="fnText">Email</label>
            <input type="text" class="form-control" id="fnText" placeholder="Enter Your Email" formControlName="email">
            <small *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.touched" id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="lnText">Password</label>
            <input type="password" class="form-control" id="lnText" placeholder="Enter Password"
              formControlName="password">
            <small *ngIf=" loginForm.controls.password.touched && loginForm.controls.password.invalid "
            id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <button type="submit" class="btn btn-primary">LOGIN</button>
      </div>
    </div>
  </form>
</div>

