<div style="padding-right:15px;" class="container-fluid">

  <!-- form header -->
  <div class="row">
    <div class="col">
      <h1>Reactive Forms</h1>
      <hr>
    </div>
  </div>

  <!-- main form -->
  <div class="row">
    <form action="" style="width:100%;" [formGroup]="reactiveForm">
      <div class="col">

        <!-- personal info -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="fnText">First Name</label>
              <input formControlName="firstName"
                 type="text" class="form-control" id="fnText" placeholder="Enter first name">
              <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="lnText">Last Name</label>
              <input formControlName="lastName"
              type="text" class="form-control" id="lnText" placeholder="Enter last name">
              <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
        </div>


        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>


        <!-- address form portion -->
        <div class="row" formGroupName="address">
          <div class="col-12">
            <label for="" class="form-check-inline">Choose Type</label>
            <div class="form-check form-check-inline">
              <input (change)="triggerExpiryValidator()" formControlName="addressType" class="form-check-input" type="radio" name="addressType" id="inlineRadio1"  value="permanent">
              <label class="form-check-label" for="inlineRadio1">Permanent</label>
            </div>
            <div class="form-check form-check-inline">
              <input (change)="triggerExpiryValidator()" formControlName="addressType" class="form-check-input" type="radio" name="addressType" id="inlineRadio2" value="temporary">
              <label class="form-check-label" for="inlineRadio2">Temporary</label>
            </div>
            <label *ngIf="addressType?.value==='temporary'" class="form-check-inline" for="inlineRadio2">Expiry Date</label>
            <div  *ngIf="addressType?.value==='temporary'" class="form-check form-check-inline">
              <input formControlName="expiryDate" type="date" [ngClass]="{'form-control':true, ' is-valid': expiryDate.valid && expiryDate.touched,'is-invalid':!expiryDate.valid && expiryDate.touched}" name="expiryDate" id="dateInput1">
            </div>
              <small *ngIf="expiryDate?.errors?.date_error && expiryDate.touched" class="form-text custom-invalid-feedback">
                  Date Error
                </small>


          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="addText">Street Address</label>
              <input formControlName="streetAddress" type="text" class="form-control" id="addText" placeholder="Enter street address">
              <small class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="city">City</label>
                  <input formControlName="city" type="text" class="form-control" id="city" placeholder="Enter city">
                  <small class="form-text custom-invalid-feedback">Field is required</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="state">State</label>
                  <select formControlName="state" id="inputState" class="form-control">
                    <option selected [ngValue]="null">Choose...</option>
                    <option *ngFor="let item of states" [value]="item">{{item}}</option>
                  </select>
                  <small class="form-text custom-invalid-feedback">Field is required</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="zipcode">Zip Code</label>
                  <input formControlName="zipcode" type="text" [ngClass]="{'form-control':true , 'is-invalid': !zipcode.valid && zipcode.touched , 'is-valid':zipcode.valid && zipcode.touched} " id="zipcode" placeholder="Enter city">
                  <small *ngIf="zipcode?.errors?.required && zipcode.touched" class="form-text custom-invalid-feedback">Field is required</small>
                  <small *ngIf="zipcode?.errors?.pattern && zipcode.touched" class="form-text custom-invalid-feedback">Five Digit Number</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>

        <!-- final action buttons -->
        <div class="row justify-content-center">
          <div class="col-2">
            <button type="button" (click)="submitHandler()" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
