<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="app-container">
  <app-header></app-header>
  <app-forms></app-forms>
  <app-footer></app-footer>
</div> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <div class="app-container">
  
  

</div> -->