<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/events" routerLinkActive="active">EVENTS </a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.loggedIn()" class="nav-link" routerLink="/special" routerLinkActive="active" >MEMBERS</a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.loggedIn()" class="nav-link"  routerLink="/nested" routerLinkActive="active">NESTED ARRAY</a>
      </li>

    </ul>

      <ul class="navbar-nav  ">

          <a *ngIf="!authService.loggedIn()" class="nav-link" routerLink="/login" routerLinkActive="active">LOGIN <span class="sr-only">(current)</span></a>


         <a *ngIf="!authService.loggedIn()" class="nav-link" routerLink="/register" routerLinkActive="active">REGISTER</a>

         <a *ngIf="authService.loggedIn()" class="nav-link" routerLink="/register" routerLinkActive="active" (click)="authService.logoutUser()">LOGOUT</a>

      </ul>
  </div>
</nav>
<div class="container">

</div>






<!-- <div>
  <ul>
    <li><a [routerLink]="['/template']">Template Driven</a> </li>
    <li><a [routerLink]="['/reactive']">Reactive</a></li>
    <li><a [routerLink]="['/nested']">Form Arrays</a></li>
  </ul>
</div> -->
