<div style="padding-right:15px;" class="container-fluid">

    <!-- form header -->
    <div class="row mt-2">
        <div class="col text-center">
            <h1 style="color: white;">{{pageTitle}}</h1>
            <hr>
        </div>
    </div>

    <!-- main form -->
    <div class="row">
        <form action="" style="width:100%;" [formGroup]="employeeForm"  >
            <div class="col">

                <!-- personal info -->
                <div class="row">
                    <div class="col">
                        <div class="form-group" >
                            <label for="fnText">Name</label>
                            <input type="text" class="form-control"
                             id="fnText" placeholder="Enter  Name"
                             formControlName="name">
                            <small *ngIf="!employeeForm.controls.name.valid && employeeForm.controls.name.touched " id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="lnText">Position</label>
                            <input type="text" class="form-control"
                            id="lnText" placeholder="Enter Position"
                            formControlName="position">
                            <small *ngIf="!employeeForm.controls.position.valid && employeeForm.controls.position.touched " id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="fnText">Office</label>
                            <input type="text" class="form-control"
                            id="fnText" placeholder="Enter Office"
                            formControlName="office">
                            <small *ngIf="!employeeForm.controls.office.valid && employeeForm.controls.office.touched " id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="lnText"> Salary </label>
                            <input type="text" class="form-control"
                             id="lnText" placeholder="Enter Salary"
                            formControlName="salary" >
                            <small *ngIf="employeeForm.controls.salary.errors?.required && employeeForm.controls.salary.touched  " id="fnHelp" class="form-text custom-invalid-feedback"> Field is required </small>
                            <small *ngIf="employeeForm.controls.salary.errors?.pattern && employeeForm.controls.salary.touched " id="fnHelp" class="form-text custom-invalid-feedback"> Field Value should be number</small>
                        </div>
                    </div>
                </div>



                <!-- seperator -->
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>



                <!-- seperator -->
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>

                <!-- final action buttons -->
                <div class="row justify-content-center">
                    <div class="col-2">
                        <button  type="button"  [disabled]="!employeeForm.valid" (click)="onSubmitHandler()"  class="btn btn-primary">Submit</button>
                        <!-- <button *ngIf="updated" type="button"  [disabled]="!employeeForm.valid" (click)="updatePost()"  class="btn btn-primary">Update</button> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div>

    <div class="mt-5" #top>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">POSITION</th>
                    <th scope="col">OFFICE</th>
                    <th scope="col">SALARY</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of empolyees;let i=index;">
                    <th scope="row">{{i+1}}</th>
                    <td> {{e.name}}</td>
                    <td>{{e.position}}</td>
                    <td>{{e.office}}</td>
                    <td>{{e.salary}}</td>
                    <td>

                        <span  class="btn btn-danger mr-3"(click)="deletePost(e._id)">Delete</span>
                        <!-- <span  class="btn btn-danger mr-3"(click)="updatePost(e._id)">Updated</span> -->
                      <a>  <span  class="btn btn-warning" (click)="[onEdit(e._id), scrollToTop(top)] ">Edit</span> </a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>



</div>

